.loader {
    height: 25rem;
    text-align: center;
    
    img {
        height: 10rem;
        width: 10rem
    }

    p {
        margin: 0 auto;
        max-width: 30rem;
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
        line-height: 1.5rem;
    }
}
