.search-field-container {
    position: relative;
    border: 0.0625rem solid #bcbaba;
    width: 30%;
    min-width: 20rem;
    margin: 1rem auto;
    padding-left: 0.75rem;
  
    & .search-field-placeholder{
      position: absolute;
      top: 50%;
      transform: translate(0.3rem, -50%);
      pointer-events: none;
      transition: all .14s ease-in-out;
      font-size:1.1rem;
      color:#adadad;
    }
  
    & .search-field-input {
      color: #000;
      border:none;
      padding: 0.3rem;
      margin-top:1.2rem;
      font-size: 1rem;
      display: block;
      box-sizing: border-box;
      width: 100%;
      bottom: 0;
  
      &:focus { outline: none; }
      &:focus,
      &:not(:placeholder-shown) {
        border-color: transparent;
        & ~ label {
         color:#646669;
          font-size: 0.6875rem;
          top: calc(30% - .5rem);
          transform: translate(0.3rem, 0%);
        }
      }
      
      &::-webkit-input-placeholder {
        color: transparent;
      }
      &::-moz-placeholder {
        color: transparent;
      }
      &:-ms-input-placeholder {
        color: transparent;
      }
     
    }
  }
  